@keyframes fourToThree {
    0%{
        translate: 0 0;
    }
    100%{
        translate: 0 100px
    }
}

@keyframes threeToTwo {
    0%{
        translate: 0 100px;
    }
    100%{
        translate: 0 200px
    }
}

.fourToThree{
    animation: fourToThree;

    animation-duration: var(--ANIMATION-TIME);
    animation-timing-function: linear;
}

.threeToTwo{
    animation-name: threeToTwo;
    animation-duration: var(--ANIMATION-TIME);
    animation-timing-function: linear;
}